@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to right, #1f1f29, #c03d29, #fff0e9, #1f63b4, #ffef4a);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}