@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cute+Font&display=swap');


body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1589883661923-6476cb0ae9f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: cover;
    font-family: 'Cute Font', cursive;
    text-align: center;
}